header {
  background-color: #faedcd;
}
body {
  max-width: 1200px;
  margin: 0 auto;
  padding-left: 4em;
  padding-right: 4em;
  padding-top: 1em;
  font-size: 18px;
  text-align: center;
  background-color: #fefae0;
}
.logo {
  max-width: 200px;
}
nav {
  display: flex;
  justify-content: space-around;
  padding-left: 20px;
  padding-right: 20px;
}
nav a {
  text-align: center;
  color: #d4a373;
  text-decoration: none;
  padding: 35px;
  border-width: 3px;
  border-style: solid;
  border-color: #d4a373;
  padding: 1em;
}
footer {
  background-color: #faedcd;
  color: #d4a373;
  padding: 25px 50px;
  margin-top: 200px;
  display: flex;
  justify-content: space-around;
  align-items: center;
}
#main-img {
  margin-left: 0;
  width: 1200px;
  height: 600px;
  object-fit: fill;
}
.float_pic {
  float: left;
  max-width: 100px;
}
.home-grid {
  display: grid;
  grid-template-columns: 1fr 1fr;
  margin-top: 50px;
}
.card-img {
  max-width: 400px;
  max-height: 300px;
}
.card-img:hover {
  transform: scale(1.5);
  box-shadow: 2px 2px 5px grey, -2px -2px 5px grey;
}
.physical-home-grid {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  margin-top: 50px;
}
.rice-card,
.beans-card {
  grid-column: 1;
  object-fit: fill;
  max-width: 600px;
  max-height: 400px;
}
.rice-card2,
.beans-card2 {
  grid-column: 2;
  object-fit: fill;
  max-width: 600px;
  max-height: 400px;
}
.rice-card3,
.beans-card3 {
  grid-column: 3;
  object-fit: fill;
  max-width: 600px;
  max-height: 400px;
}
.physical-card-img {
  object-fit: fill;
  width: 400px;
  height: 300px;
  padding: 10px;
}
.physical-card-img:hover {
  transform: scale(1.4);
  box-shadow: 2px 2px 5px grey, -2px -2px 5px grey;
}
.together {
  grid-column: 1/4;
}
.second_coming-card,
.Food_storage-card {
  margin-bottom: -200px;
}
.bottom {
  margin-bottom: -150px;
}

/* Style inputs with type="text", select elements and textareas */
input[type="text"],
select,
textarea {
  width: 100%; /* Full width */
  padding: 12px; /* Some padding */
  border: 1px solid #ccc; /* Gray border */
  border-radius: 4px; /* Rounded borders */
  box-sizing: border-box; /* Make sure that padding and width stays in place */
  margin-top: 6px; /* Add a top margin */
  margin-bottom: 16px; /* Bottom margin */
  resize: vertical; /* Allow the user to vertically resize the textarea (not horizontally) */
}

/* Style the submit button with a specific background color etc */
input[type="submit"] {
  background-color: #d4a373;
  color: white;
  padding: 12px 20px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

/* When moving the mouse over the submit button, add a darker green color */
input[type="submit"]:hover {
  background-color: #b88858;
}

/* Add a background color and some padding around the form */
.container_forum {
  border-radius: 5px;
  background-color: #faedcd;
  padding: 20px;
}
